* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #050505;
    color: white;

}

.app {
    display: flex;
    height: 100vh;
    opacity: 0.9;
}

button {
    margin-top: 30px;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: #00ffff;
    color: #050505;
    font-weight: bold;
    cursor: pointer;
}

/* OVERLAY */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* 50% PORTRE CANVAS */
canvas {
    width: 50vw;
    height: 50vh;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.5);
}

.hidden {
    display: none;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(15px);
    z-index: 1000;
}

.header .icon {
    margin-bottom: 20px;
    margin-left: 25px;
}

.login-btn {
    background-color: white;
    color: black;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: 25px;

}

.login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}


.sidebar {
    width: 80px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: fixed;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    padding-top: 20px;

}

.logo {
    width: 60px;
    height: 50px;
    margin-left: -6px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 25px;
}

.home {
    width: 50px;
    height: 50px;

}

.search {
    width: 40px;
    height: 40px;
}

.library {
    width: 40px;
    height: 40px;

}

.plus {
    width: 30px;
    height: 30px;

}

.header .logo,
.header .icon {
    flex-shrink: 0;
}

.icon:hover {
    transform: scale(1.15);
    box-shadow: 0 0 20px rgba(255, 100, 200, 0.6);
}

.main {
    flex: 1;
    padding-top: calc(var(--header-height) + 30px);
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 140px;


}

:root {
    --header-height: 70px;
}


.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 12px 16px;
    border-radius: 18px;
    backdrop-filter: blur(14px);
    width: 100%;
}

.search-box {
    width: 350px;
    padding: 12px 16px;
    border-radius: 18px;
    display: flex;
    gap: 10px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(14px);
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
}




.playlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
    justify-items: center;
    overflow: visible;
}



.card {
    width: 100%;
    min-height: 140px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    padding: 16px;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.35s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 35px rgba(0, 255, 255, 0.45);
}

.card.selected {
    border: 2px solid #00ffff;
    box-shadow: 0 0 35px rgba(0, 255, 255, 1);
}

.card img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 10px;
    display: grid;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.song-info h4 {
    font-size: 14px;
}

.song-info p {
    font-size: 12px;
    opacity: 0.7;
}

.remove-btn {
    background: transparent;
    border: none;
    color: #ff4d4d;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}


.remove-btn:hover {
    transform: scale(1.3);
    color: red;
}

/* body {
    background: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

canvas {
    border: 1px solid #444;
    border-radius: 12px;
    background: #111;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background: #00ffff;
    color: #050505;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00ffff;
}
 */

/* ======================= MOBILE (360px – 767px) ======================= */
@media (max-width: 767px) {

    .main {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: calc(var(--header-height) + 20px);
    }

    .sidebar {
        width: 60px;
        gap: 15px;
        padding: 15px 10px;
    }

    .sidebar .icon {
        width: 35px;
        height: 35px;
    }

    .header .logo {
        width: 40px;
        height: 35px;
        margin-left: 0;
    }

    .header .icon {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .login-btn {
        padding: 6px 12px;
        font-size: 14px;
        margin-right: 10px;
    }

    .search-box {
        width: 90%;
        max-width: 280px;
        padding: 10px;
        border-radius: 14px;
    }

    .playlist {
        display: grid;
        grid-template-columns: 1fr;
        /* Alt-üst yerləşsin */
        gap: 15px;
        justify-items: center;
    }

    .card img {
        width: 100%;
        height: 120px;
        /* ölçü sabit qalsın */
    }
}


/* ======================= TABLET (768px – 1023px) ======================= */
@media (min-width: 768px) and (max-width: 1023px) {

    .main {
        padding-left: 80px;
        padding-right: 20px;
        padding-top: calc(var(--header-height) + 25px);
    }

    .sidebar {
        width: 70px;
        gap: 20px;
        padding: 18px 12px;
    }

    .sidebar .icon {
        width: 40px;
        height: 40px;
    }

    .header .logo {
        width: 50px;
        height: 40px;
    }

    .header .icon {
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .login-btn {
        padding: 7px 14px;
        font-size: 15px;
        margin-right: 15px;
    }

    .search-box {
        width: 80%;
        max-width: 320px;
        padding: 11px;
        border-radius: 16px;
    }

    .playlist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 sütun */
        gap: 20px;
        justify-items: center;
    }

    .card img {
        width: 100%;
        height: 120px;
    }
}


/* ======================= DESKTOP (1024px – 1439px) ======================= */
@media (min-width: 1024px) and (max-width: 1439px) {

    .main {
        padding-left: 140px;
        padding-right: 60px;
        padding-top: calc(var(--header-height) + 30px);
    }

    .sidebar {
        width: 80px;
        gap: 25px;
        padding: 20px;
    }

    .sidebar .icon {
        width: 50px;
        height: 50px;
    }

    .header .logo {
        width: 60px;
        height: 50px;
    }

    .header .icon {
        width: 50px;
        height: 50px;
        margin-left: 25px;
    }

    .login-btn {
        padding: 8px 16px;
        font-size: 16px;
        margin-right: 25px;
    }

    .search-box {
        width: 350px;
        padding: 12px;
        border-radius: 18px;
    }

    .playlist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* normal grid */
        gap: 30px;
        justify-items: center;
    }

    .card img {
        width: 200px;
        height: 120px;
    }
}